/* 
################################################
Title : GEODIS Nestle Global Account theme.css
Author : Damien OGEE
Company : Point Ligne Plan
Date : 02/08/2016
################################################
*/


@import "partials/variables";
@import "partials/main";
@import "partials/details-header";
@import "partials/details-main";
@import "partials/header";
@import "partials/results";
@import "partials/results-header";
@import "partials/slats";
@import "partials/tabs";
@import "partials/menu";
@import "partials/footer";
@import "partials/search";
@import "partials/forms";
@import "partials/home";