/*
Title : Home
*/


main {
    background-color: #F2F2F2;    
}

.home {
    .row:not(.notifications) {
        padding: 30px 0 30px;
        border-bottom: 1px solid #d8d8d8;
        
        &:last-child {
            border: none;
        }
    }
    
    h1 {
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    
    .btn.more {
        text-transform: uppercase;
        margin-top: 30px;
        /* color: #fff; */
    }
    
    .notifications {
        background-color: #fff;
        padding: 10px 0;
        border-bottom: 1px solid #d8d8d8;
        cursor: pointer;
        
        .notifications-title {
            color: #888;
            font-size: 1.05em;
        }
        
        .notifications {
            width: 22px;
            height: 22px;
            display: inline-block;
            vertical-align: bottom;
            margin-right: 10px;
            border-radius: 100%;
            
            &.geodis-alert {background-color: #BD2526;}
            &.geodis-important {background-color: #FD9434;}
            &.geodis-normal {background-color: #B1B1AF;}
        }
    }

    .quick-menu {
            
        .item {
            @include inline-block(#fff, 12px,0 1px 2px 0 rgba(0, 0, 0, 0.18),0);
            transition: box-shadow 0.15s ease-in-out;
            
            &:hover {
                box-shadow: 0px 2px 5px 0 #bbb;
                text-decoration: blink;
                background: #fff url(./svg/chevron_droit.svg) no-repeat right 15px top 15px;
                background-size: 15px;
                transition: box-shadow 0.15s ease-in-out;
            }
        
            img {
                width: 40px;
                height: 40px;
            }
            h3 {
                text-transform: uppercase;
                margin: 12px 0 0;
                font-size: 1.3em;
            }
            .subtitle {
                color: #d8d8d8;
            }
        }
    }
    
    .last-docs {
        
        .docs {
            @include inline-block(#fff, 5px 5px 5px 50px);
            background: #fff url(./svg/paper.svg) no-repeat left 10px center;
            background-size: 25px;
            
            h4 {
                color: #000;
                font-weight: bold;
                text-transform: capitalize;
                font-size: 18px;
                margin: 1px 0;
            }
            
            .date {
                font-size: 0.9em;
                color: #888;
            }
            
            .tools {
                position: absolute;
                right: 25px;
                top: 9px;
            
                .btn {
                    text-indent: -9999px;
                    border: none;
                    margin: 0;
                    padding: 6px 16px;
                    vertical-align: top;
                                
                    &:hover {
                        background-color: $geodisblue !important;
                    }

                }
                .download {
                    background: url(./svg/telecharger_gris.svg) no-repeat center center;
                    background-size: 20px;
                    
                    &:hover {
                        background: url(./svg/telecharger_blanc.svg) no-repeat center center;
                        background-size: 20px;
                    }
                }
                .view {
                    background: url(./svg/oeil_gris.svg) no-repeat center center;
                    background-size: 25px;
                    
                    &:hover {
                        background: url(./svg/oeil_blanc.svg) no-repeat center center;
                        background-size: 25px;
                    }
                }  
            }
        }
    }
    
    .news-list {
        .news {
            img {
                width: 100%;
            }
            
            .news-title {
                color:#555;
                margin: 10px 0;
                display: block;
            }
            
            &:hover {
                text-decoration: none;
                
                .news-title {
                    color: #000;
                    font-size: 1.05em;
                }
            }
        }    
    }
}    










