/*
Title : Main
*/



/* Tools & Common */
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.btn-group .btn+.btn {
    margin-left: 2px;
}

/* 5 columns layout */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


/* Box Shadows */
@mixin inline-block($bgc, $padding: 10px, $box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18),$mb:30px) {
    background-color: $bgc;
    padding: $padding;
    box-shadow: $box-shadow;
    display: block;
    margin-bottom: $mb;
}




/* Main */
main {
    margin-top: 70px;
}