/*
Title : Slats (results row Mailchimp style)
*/


.result-row {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
.result-row .btn-group {
    position: absolute;
    right: 0;
    top: 21px;
}
.result-row .step {
    width: 25px;
}
.result-row .id {
    color: #3200e6;
    font-size: 1.1em;
    font-weight: bold;
}
.result-row .details {
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
}
.result-row .details:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.result-row .detail-item {
    float: left;
    min-height: 60px;
}
.result-row .details .item {
    margin: 0 30px 25px 0;
}
.results .address .to .label {
    text-indent: 18px;
    display: inline-block;
}
.results .label {
    font-size: 1em;
    font-weight: normal;
    color: #999;
    padding: 0 .4em 0 0;
}
.results .address .location {
    display: block;
    text-indent: 43px;
}
.results .address .title {
    font-weight: bold;
    color: #000;
}
.results h4 {
    margin: 0;
    color: #000;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    display: inline-block;
}