/*
Title : Geodis Global Account CSS Theme
Description : Regles CSS pour les pages de résultats
Author : Damien OGEE
Company : Point Ligne Plan
Date : 04/08/2016
*/


/* Common */


/* Header */
.result-header {
    background-color: #EBEBEB;
    border-bottom: 1px solid #706A7B;
    min-height: 150px;
    padding: 30px 0;
}
.save-bookmark {
    position: absolute;
    right: 30px;
    bottom: 0;
}
.search-button {
    position: absolute;
    right: 30px;
}
.result-header .container {
    position: relative;
}
.result-header h1 {
    margin: 0;
}
.back-button img, .search-button img {
    width: 30px;
    margin-top: 4px;
}
.result-title span, .result-title h4 {
    font-style: italic;
}
.profil a {
    background: url(../svg/profil_blanc.svg) center left 30px no-repeat;
    background-size: 30px;
    text-align: left;
    line-height: 14px !important;
    padding: 21px 25px 21px 70px !important;
}
.profil .name {
    font-size: 1.1em;
    font-weight: bold;
}
.profil .company {
    display: block;
}
.burger a {
    background: url(../svg/burger_blanc.svg) center left 30px no-repeat;
    background-size: 26px;
    padding-left: 70px !important;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
}

/* Main */
.result-row {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
.result-row .btn-group {
    position: absolute;
    right: 0;
    top: 21px;
}
.result-row .step {
    width: 25px;
}
.result-row .id {
    color: #3200e6;
    font-size: 1.1em;
    font-weight: bold;
}
.result-row .details {
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
}
.result-row .details:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.result-row .detail-item {
    float: left;
    min-height: 60px;
}
.result-row .details .item {
    margin: 0 30px 25px 0;
}
.results .address .to .label {
    text-indent: 18px;
    display: inline-block;
}
.results .label {
    font-size: 1em;
    font-weight: normal;
    color: #999;
    padding: 0 .4em 0 0;
}
.results .address .location {
    display: block;
    text-indent: 43px;
}
.results .address .title {
    font-weight: bold;
    color: #000;
}
.results h4 {
    margin: 0;
    color: #000;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    display: inline-block;
}